---
layout: default
title: Místní sdružení ve Karlovarském kraji
---

<div class="container container--default pt-8 lg:py-24">
 <section>
<h1 class="head-alt-md md:head-alt-lg max-w-5xl mb-8">Místní sdružení ve Karlovarském kraji</h1>
  <main>
   <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

{% include ms/item.html 
    img='https://a.pirati.cz/karlovarsky/img/ms/pir_ch.jpg'
    name='Chebsko'
    link="https://wiki.pirati.cz/regiony/karlovarsko/chebsko"
    president="Ondřej Topinka"
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/karlovarsky/img/ms/pir_kv.jpg'
    name= 'Karlovy Vary'
    link= "https://karlovyvary.pirati.cz/"
    president= "Daniela Bílá"
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/karlovarsky/img/ms/pir_lo.png'
    name= 'Loket'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/loket"
    president="vitezslav.adamec"
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/karlovarsky/img/ms/pir_so.jpg'
    name= 'Sokolovsko'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/sokolovsko"
    president="Tereza Zykánová"
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/karlovarsky/img/ms/lodicka.jpg'
    name= 'Mariánské Lázně'
    link= "https://www.piratiml.cz/"
    president="Martin Kalina"
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/karlovarsky/img/ms/lodicka.jpg'
    name= 'Rotava'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/rotava"
    president= "Radek Náměstek"
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/karlovarsky/img/ms/lodicka.jpg'
    name= 'Valeč'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/valec/start"
    president="Nikola Indrová"
    %}

   </div>
  </main>
  </section>
 </div>
