---
layout: page
title: Místní sdružení
---

<section class="pk-election-crossroad row u-uniform-size-row">
  {% for place in include.places %}
    <div class="columns medium-6">
      <article class="pk-election-crossroad__place">
        <div class="c-tile c-tile--fill pk-election-crossroad__place-body">
          <div class="pk-election-crossroad__coa"><img src="{{ place.coa }}" alt="{{ place.locality }}"></div>
          <div class="c-tile__body">
            <h2 class="t-h4">{{ place.locality }}</h2>
{% include ms/item.html 
    img='ms/pir_ch.jpg'
    name='Chebsko'
    link="https://wiki.pirati.cz/regiony/karlovarsko/chebsko"
    president="Ondřej Špendlíček"
    %}

{% include ms/item.html 
    img='ms/pir_kv.jpg'
    name= 'Karlovy Vary'
    link= "https://karlovyvary.pirati.cz/"
    president= "Daniela Bílá"
    %}

{% include ms/item.html 
    img= 'ms/pir_lo.png'
    name= 'Loket'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/loket"
    president="vitezslav.adamec"
    %}

{% include ms/item.html 
    img= 'ms/pir_so.jpg'
    name= 'Sokolovsko'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/sokolovsko"
    president="Tereza Zykánová"
    %}

{% include ms/item.html 
    img= 'ms/lodicka.jpg'
    name= 'Mariánské Lázně'
    link= "https://www.piratiml.cz/"
    president="Lukáš Jádlovský"
    %}

{% include ms/item.html 
    img= 'ms/lodicka.jpg'
    name= 'Rotava'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/rotava"
    president= "Radek Náměstek"
    %}

{% include ms/item.html 
    img= 'ms/lodicka.jpg'
    name= 'Valeč'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/valec/start"
    president="Jiří Metod Kassl"
    %}

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
