---
layout: page
title: Místní sdružení ve Karlovarském kraji
---

<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner">
        <div class="c-BasicPage">
          <div class="vspace-nb-m">
            <div class="row vspace-nb-m">

{% include ms/item.html 
    img='ms/pir_ch.jpg'
    name='Chebsko'
    link="https://wiki.pirati.cz/regiony/karlovarsko/chebsko"
    president="Ondřej Topinka"
    %}

{% include ms/item.html 
    img='ms/pir_kv.jpg'
    name= 'Karlovy Vary'
    link= "https://karlovyvary.pirati.cz/"
    president= "Daniela Bílá"
    %}

{% include ms/item.html 
    img= 'ms/pir_lo.png'
    name= 'Loket'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/loket"
    president="vitezslav.adamec"
    %}

{% include ms/item.html 
    img= 'ms/pir_so.jpg'
    name= 'Sokolovsko'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/sokolovsko"
    president="Tereza Zykánová"
    %}

{% include ms/item.html 
    img= 'ms/lodicka.jpg'
    name= 'Mariánské Lázně'
    link= "https://www.piratiml.cz/"
    president="Martin Kalina"
    %}

{% include ms/item.html 
    img= 'ms/lodicka.jpg'
    name= 'Rotava'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/rotava"
    president= "Radek Náměstek"
    %}

{% include ms/item.html 
    img= 'ms/lodicka.jpg'
    name= 'Valeč'
    link= "https://wiki.pirati.cz/regiony/karlovarsko/valec/start"
    president="Nikola Indrová"
    %}

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
